In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [2]:
df = pd.read_csv(r"C:\Users\Mahesh\Downloads\data.csv")

In [3]:
df.head()

,Transaction_ID,Customer_Name,Email,Age,Join_Date,Product_Category,Price,Quantity,Discount_Percent,Total_Amount,Shipping_State,Customer_Review_Score,Is_Premium_Member
0,TXN-29779,dave,jane@yahoo.com,30,2022-06-08,Clothing,124.54,4.0,0.98,NaN,CA,3.0,No
1,TXN-73397,JANE SMITH,charlie@gmail,53,Unknown,Electronics,357.9,8.0,0.09,NaN,california,2.0,False
2,TXN-48589,dave,jane@yahoo.com,37,28-12-2020,Home_Garden,419.6,5.0,0.16,NaN,california,5.0,Yes
3,TXN-68816,NaN,NaN,26,2020-12-23,Clothing,467.99,7.0,0.28,NaN,CA,2.0,False
4,TXN-90723,Alice_Jones,bob@.com,37,Unknown,CLOTHING,348.68,5.0,0.02,NaN,NY,5.0,True

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         11495 non-null  object
 1   Customer_Name          10294 non-null  object
 2   Email                  9943 non-null   object
 3   Age                    11590 non-null  object
 4   Join_Date              10976 non-null  object
 5   Product_Category       10320 non-null  object
 6   Price                  11638 non-null  object
 7   Quantity               11780 non-null  float64
 8   Discount_Percent       11873 non-null  float64
 9   Total_Amount           721 non-null    float64
 10  Shipping_State         10756 non-null  object
 11  Customer_Review_Score  11834 non-null  float64
 12  Is_Premium_Member      10912 non-null  object
dtypes: float64(4), object(9)
memory usage: 1.2+ MB

In [5]:
df[~df['Transaction_ID'].str.startswith('TXN', na=False)]

,Transaction_ID,Customer_Name,Email,Age,Join_Date,Product_Category,Price,Quantity,Discount_Percent,Total_Amount,Shipping_State,Customer_Review_Score,Is_Premium_Member
40,NaN,john doe,charlie@gmail,38,NaN,CLOTHING,319.09,7.0,0.03,NaN,N.Y.,2.0,N
82,NaN,Charlie!,jane@yahoo.com,NaN,2020-03-14,elctronics,254.86,10.0,0.27,NaN,NaN,5.0,False
90,NaN,NaN,NaN,39,30-11-2021,Clothing,137.46,6.0,0.04,NaN,N.Y.,3.0,NaN
94,NaN,Charlie!,jane@yahoo.com,-5,2021-12-02,elctronics,36.93,6.0,0.23,NaN,Texas,0.0,N
96,NaN,bob,alice_at_hotmail.com,29,14-07-2020,elctronics,396.55,3.0,0.20,NaN,NY,5.0,True
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11972,NaN,Charlie!,alice_at_hotmail.com,57,27-09-2020,CLOTHING,219.55,2.0,0.22,NaN,Texas,5.0,Y
11977,NaN,john doe,NaN,75,08/03/2022,Home_Garden,428.88,6.0,0.22,NaN,NY,2.0,NaN
11986,NaN,Alice_Jones,jane@yahoo.com,47,Unknown,NaN,NaN,3.0,0.16,NaN,Texas,5.0,N
11987,NaN,john doe,alice_at_hotmail.com,40,2022-07-04,CLOTHING,$396.46,10.0,0.20,39646.00,California,4.0,Y
11993,NaN,Alice_Jones,jane@yahoo.com,77,07/15/2022,Home & Garden,134.36 USD,8.0,0.17,1074.88,N.Y.,4.0,0

In [6]:
df['Transaction_ID'].value_counts(dropna=False)

Transaction_ID
NaN          505
TXN-38903      4
TXN-57517      4
TXN-81565      3
TXN-56531      3
            ...
TXN-38009      1
TXN-11609      1
TXN-44231      1
TXN-96317      1
TXN-97760      1
Name: count, Length: 10604, dtype: int64

In [7]:
df.dropna(axis=0,subset=['Transaction_ID'], inplace=True )

In [8]:
df['Customer_Name'].value_counts(dropna=False)

Customer_Name
bob            1699
JANE SMITH     1688
Alice_Jones    1673
NaN            1644
 john doe      1602
Charlie!       1596
dave           1593
Name: count, dtype: int64

In [9]:
df['Customer_Name'] = df['Customer_Name'].str.strip().str.title().fillna('N/A')

In [10]:
df['Customer_Name'].value_counts(dropna=False)

Customer_Name
Bob            1699
Jane Smith     1688
Alice_Jones    1673
N/A            1644
John Doe       1602
Charlie!       1596
Dave           1593
Name: count, dtype: int64

In [11]:
df['Email'].value_counts(dropna=False)

Email
NaN                     1974
charlie@gmail           1943
alice_at_hotmail.com    1940
jane@yahoo.com          1902
bob@.com                1871
john@gmail.com          1865
Name: count, dtype: int64

In [12]:
df['Email']=df['Email'].fillna('N/A')

In [13]:
df['Age'].dtype

dtype('O')

In [14]:
df['Age'].value_counts()

Age
49        216
80        211
twenty    202
31        201
73        188
         ...
70        144
66        142
30        141
29        139
62        138
Name: count, Length: 66, dtype: int64

In [15]:
df[df['Age'].str.startswith('-', na=True)]

,Transaction_ID,Customer_Name,Email,Age,Join_Date,Product_Category,Price,Quantity,Discount_Percent,Total_Amount,Shipping_State,Customer_Review_Score,Is_Premium_Member
61,TXN-67368,John Doe,bob@.com,NaN,Unknown,Clothing,305.59,7.0,0.13,NaN,NaN,4.0,False
68,TXN-30910,Alice_Jones,N/A,NaN,2021-10-13,Clothing,Free,6.0,0.01,NaN,NaN,3.0,No
73,TXN-36772,Dave,bob@.com,NaN,2020-09-02,Electronics,NaN,7.0,0.14,NaN,CA,1.0,0
80,TXN-65945,N/A,charlie@gmail,-5,2022-01-30,Home_Garden,56.09,3.0,0.19,NaN,NY,1.0,N
84,TXN-66970,Bob,jane@yahoo.com,NaN,Unknown,Clothing,44.59,10.0,0.08,NaN,TX,4.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11879,TXN-63261,Charlie!,charlie@gmail,NaN,24-08-2020,Home_Garden,378.31,4.0,0.10,NaN,California,5.0,1
11885,TXN-83819,N/A,N/A,-5,2022-06-05,CLOTHING,$257.12,3.0,0.09,771.36,teXas,3.0,1
11920,TXN-79984,John Doe,alice_at_hotmail.com,-5,2020-04-12,Home_Garden,51.38,2.0,0.12,NaN,california,3.0,Y
11938,TXN-39104,N/A,john@gmail.com,NaN,NaN,Home & Garden,461.26,7.0,0.11,NaN,CA,1.0,Yes
11982,TXN-66326,John Doe,bob@.com,NaN,09/17/2021,NaN,267.45,4.0,0.11,NaN,California,3.0,Yes

In [16]:
df[df['Age'].str.startswith('-', na=False)]

,Transaction_ID,Customer_Name,Email,Age,Join_Date,Product_Category,Price,Quantity,Discount_Percent,Total_Amount,Shipping_State,Customer_Review_Score,Is_Premium_Member
80,TXN-65945,N/A,charlie@gmail,-5,2022-01-30,Home_Garden,56.09,3.0,0.19,NaN,NY,1.0,N
128,TXN-62127,John Doe,john@gmail.com,-5,Pending,NaN,286.26,7.0,0.01,NaN,TX,5.0,N
192,TXN-36549,Jane Smith,alice_at_hotmail.com,-5,03-08-2022,Home_Garden,90.72,7.0,0.30,NaN,Texas,4.0,Y
324,TXN-42926,Bob,jane@yahoo.com,-5,2020-11-01,NaN,363.13,5.0,0.21,NaN,Texas,4.0,True
418,TXN-10078,Alice_Jones,N/A,-5,08/14/2020,Electronics,296.99 USD,8.0,0.03,2375.92,california,3.0,N
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11690,TXN-34134,Bob,charlie@gmail,-5,2021-08-23,Home_Garden,185.22,9.0,0.23,NaN,NY,5.0,True
11723,TXN-82111,N/A,N/A,-5,03/08/2020,Electronics,195.24,2.0,0.17,NaN,NY,4.0,0
11836,TXN-72429,John Doe,N/A,-5,Pending,elctronics,285.56,6.0,0.11,NaN,NY,NaN,0
11885,TXN-83819,N/A,N/A,-5,2022-06-05,CLOTHING,$257.12,3.0,0.09,771.36,teXas,3.0,1
11920,TXN-79984,John Doe,alice_at_hotmail.com,-5,2020-04-12,Home_Garden,51.38,2.0,0.12,NaN,california,3.0,Y

In [17]:
df['Age'] = df['Age'].replace({'-': '', 'twenty': '20', np.nan: 'N/A','250':'N/A'}, regex=True).str.strip()

In [18]:

df['Age'] = pd.to_numeric(df['Age'], errors='coerce')

In [19]:
df['Age'][df['Age'].isnull()]

61      NaN
68      NaN
73      NaN
84      NaN
97      NaN
         ..
11797   NaN
11803   NaN
11879   NaN
11938   NaN
11982   NaN
Name: Age, Length: 567, dtype: float64

In [20]:
df['Age'].value_counts().to_frame()

      count
Age
20.0    346
49.0    216
80.0    211
31.0    201
73.0    188
...     ...
70.0    144
66.0    142
30.0    141
29.0    139
62.0    138

[64 rows x 1 columns]

In [21]:
df['Join_Date'].isnull().sum()

np.int64(971)

In [22]:
df['Join_Date'] = pd.to_datetime(df['Join_Date'], format='mixed', errors='coerce')

In [23]:
df['Product_Category'].value_counts(dropna=False)

Product_Category
Electronics      1685
Home_Garden      1651
elctronics       1650
Clothing         1647
CLOTHING         1638
Home & Garden    1626
NaN              1598
Name: count, dtype: int64

In [24]:
df['Product_Category'].value_counts(dropna=False)

Product_Category
Electronics      1685
Home_Garden      1651
elctronics       1650
Clothing         1647
CLOTHING         1638
Home & Garden    1626
NaN              1598
Name: count, dtype: int64

In [25]:
df['Product_Category'] = df['Product_Category'].str.title().replace({'Elctronics':'Electronics', '_':' & '},regex=True).str.strip().fillna('No Category').astype('category')

In [26]:
df['Product_Category'].dtype

CategoricalDtype(categories=['Clothing', 'Electronics', 'Home & Garden', 'No Category'], ordered=False, categories_dtype=object)

In [27]:
df[df['Price'].isnull()| df['Price'].str.startswith('-')]

,Transaction_ID,Customer_Name,Email,Age,Join_Date,Product_Category,Price,Quantity,Discount_Percent,Total_Amount,Shipping_State,Customer_Review_Score,Is_Premium_Member
15,TXN-77081,Dave,jane@yahoo.com,67.0,NaT,Clothing,NaN,10.0,0.14,NaN,CA,3.0,False
37,TXN-41185,N/A,jane@yahoo.com,53.0,2022-01-05,Home & Garden,NaN,4.0,-0.10,NaN,NY,4.0,Y
73,TXN-36772,Dave,bob@.com,NaN,2020-09-02,Electronics,NaN,7.0,0.14,NaN,CA,1.0,0
168,TXN-70927,Dave,N/A,71.0,NaT,Clothing,NaN,3.0,0.14,NaN,N.Y.,1.0,Yes
203,TXN-10230,Jane Smith,jane@yahoo.com,42.0,2020-03-10,No Category,NaN,7.0,0.27,NaN,california,2.0,Y
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11791,TXN-42834,Bob,jane@yahoo.com,24.0,2020-03-09,Clothing,NaN,5.0,0.15,NaN,teXas,5.0,No
11858,TXN-53910,Dave,alice_at_hotmail.com,58.0,NaT,Home & Garden,NaN,6.0,0.12,NaN,TX,4.0,1
11896,TXN-55110,N/A,N/A,60.0,2021-03-02,Home & Garden,NaN,2.0,0.27,NaN,Texas,1.0,Y
11900,TXN-75916,Dave,alice_at_hotmail.com,72.0,2021-08-10,Home & Garden,NaN,8.0,0.26,NaN,NaN,3.0,NaN
11999,TXN-97760,N/A,charlie@gmail,23.0,2020-01-16,Home & Garden,NaN,10.0,0.22,NaN,NY,NaN,False

In [28]:

df['Price'] = df['Price'].replace({'USD': '', 'Free': '0'}, regex=True)

In [29]:
# Convert to numeric, turning any remaining errors into NaN
df['Price'] = pd.to_numeric(df['Price'], errors='coerce')

In [30]:
df['Quantity'].value_counts(dropna=False)

Quantity
 1.0     1133
 7.0     1123
 2.0     1082
 9.0     1078
 5.0     1075
 3.0     1073
 10.0    1068
 6.0     1051
 4.0     1043
 8.0     1000
 1.5      208
 NaN      208
 0.0      185
-2.0      168
Name: count, dtype: int64

In [31]:
df['Quantity'] = df['Quantity'].abs()

In [32]:
df[df['Quantity'].isin([-2])]

Empty DataFrame
Columns: [Transaction_ID, Customer_Name, Email, Age, Join_Date, Product_Category, Price, Quantity, Discount_Percent, Total_Amount, Shipping_State, Customer_Review_Score, Is_Premium_Member]
Index: []

In [33]:
df['Discount_Percent'].value_counts(dropna=False).to_frame()

                  count
Discount_Percent
 0.19               393
 0.27               391
 0.16               386
 0.18               384
 0.29               383
 0.28               383
 0.14               382
 0.10               380
 0.23               379
 0.11               379
 0.12               374
 0.01               374
 0.04               373
 0.05               372
 0.13               371
 0.20               370
 0.15               369
 0.25               368
 0.22               367
 0.09               364
 0.07               364
 0.26               362
 0.21               360
 0.06               350
 0.24               350
 0.02               350
 0.08               338
 0.17               323
 0.03               318
 0.30               182
 0.00               178
 500.00             130
 NaN                120
-0.10               117
 1.50               110
 0.98                 1

In [34]:
df['Discount_Percent'].dtype

dtype('float64')

In [35]:
df['Discount_Percent'] = df['Discount_Percent'].abs().fillna(0)

In [36]:
df['Discount_Percent'].dtype

dtype('float64')

In [37]:
import numpy as np

df['Discount_Percent'] = np.where(
    df['Discount_Percent'].between(0.0, 1.0), 
    df['Discount_Percent'], 
    0
)

In [38]:
df['Price']=df['Price'].fillna(0)

In [39]:
df['Price'].value_counts(dropna=False)

Price
0.00      1083
143.45       4
486.50       3
483.16       3
232.29       3
          ...
378.78       1
44.57        1
188.35       1
468.32       1
478.14       1
Name: count, Length: 9419, dtype: int64

In [40]:
df['Quantity']=df['Quantity'].fillna(0)

In [41]:
# Round to 0 decimal places, then convert to Int64 (capital 'I' supports NaNs)
df['Quantity'] = df['Quantity'].round(0).astype('Int64')

In [42]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11495 entries, 0 to 11999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         11495 non-null  object
 1   Customer_Name          11495 non-null  object
 2   Email                  11495 non-null  object
 3   Age                    10928 non-null  float64
 4   Join_Date              8611 non-null   datetime64[ns]
 5   Product_Category       11495 non-null  category
 6   Price                  11495 non-null  float64
 7   Quantity               11495 non-null  Int64
 8   Discount_Percent       11495 non-null  float64
 9   Total_Amount           694 non-null    float64
 10  Shipping_State         10308 non-null  object
 11  Customer_Review_Score  11331 non-null  float64
 12  Is_Premium_Member      10447 non-null  object
dtypes: Int64(1), category(1), datetime64[ns](1), float64(5), object(5)
memory usage: 1.2+ MB

In [43]:
df['Total_Amount'] = (df['Price'] * df['Quantity']) * (1 - df['Discount_Percent'])

In [44]:
df['Shipping_State'].value_counts(dropna=False)

Shipping_State
california    1205
NaN           1187
California    1166
teXas         1157
N.Y.          1151
Texas         1150
New York      1125
NY            1121
CA            1119
TX            1114
Name: count, dtype: int64

In [45]:

state_map = {
    'CA': 'California',
    'TX': 'Texas',
    'NY': 'New York',
    'N.Y.': 'New York',
    'teXas': 'Texas'
}


df['Shipping_State'] = (df['Shipping_State']
                        .replace(state_map)
                        .str.strip()
                        .str.title()
                        .fillna('N/A'))


print(df['Shipping_State'].value_counts())

Shipping_State
California    3490
Texas         3421
New York      3397
N/A           1187
Name: count, dtype: int64

In [46]:
df['Customer_Review_Score']=df['Customer_Review_Score'].fillna(0).abs()

In [47]:
df['Customer_Review_Score'].value_counts(dropna=False)

Customer_Review_Score
3.0     2281
2.0     2240
5.0     2188
1.0     2180
4.0     2176
0.0      287
10.0     143
Name: count, dtype: int64

In [48]:
df['Is_Premium_Member'].value_counts(dropna=False)

Is_Premium_Member
False    2161
True     2102
No       1084
Yes      1048
NaN      1048
Y        1046
0        1034
1         989
N         983
Name: count, dtype: int64

In [49]:
state_map = {
    'False': 'NO',
    'True': 'Yes',
    '0': 'NO',
    '1': 'Yes',
    'Y': 'Yes',
    'N':'NO'
}


df['Is_Premium_Member'] = (df['Is_Premium_Member']
                        .replace(state_map)
                        .str.strip()
                        .str.title()
                        .fillna('N/A'))


print(df['Is_Premium_Member'].value_counts())

Is_Premium_Member
No     5262
Yes    5185
N/A    1048
Name: count, dtype: int64

In [50]:
df

,Transaction_ID,Customer_Name,Email,Age,Join_Date,Product_Category,Price,Quantity,Discount_Percent,Total_Amount,Shipping_State,Customer_Review_Score,Is_Premium_Member
0,TXN-29779,Dave,jane@yahoo.com,30.0,2022-06-08,Clothing,124.54,4,0.98,9.9632,California,3.0,No
1,TXN-73397,Jane Smith,charlie@gmail,53.0,NaT,Electronics,357.90,8,0.09,2605.512,California,2.0,No
2,TXN-48589,Dave,jane@yahoo.com,37.0,2020-12-28,Home & Garden,419.60,5,0.16,1762.32,California,5.0,Yes
3,TXN-68816,N/A,N/A,26.0,2020-12-23,Clothing,467.99,7,0.28,2358.6696,California,2.0,No
4,TXN-90723,Alice_Jones,bob@.com,37.0,NaT,Clothing,348.68,5,0.02,1708.532,New York,5.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,TXN-26277,N/A,john@gmail.com,22.0,2020-12-15,Clothing,22.75,7,0.20,127.4,California,2.0,Yes
11996,TXN-82824,Jane Smith,charlie@gmail,73.0,2020-08-17,Clothing,338.86,9,0.16,2561.7816,Texas,1.0,Yes
11997,TXN-22314,Jane Smith,bob@.com,59.0,2021-10-26,Clothing,478.14,1,0.20,382.512,New York,3.0,Yes
11998,TXN-44643,John Doe,bob@.com,29.0,2021-09-24,Electronics,75.91,7,0.28,382.5864,Texas,5.0,No
11999,TXN-97760,N/A,charlie@gmail,23.0,2020-01-16,Home & Garden,0.00,10,0.22,0.0,New York,0.0,No

In [51]:
sale = df.groupby('Product_Category', observed=True).agg({
    'Total_Amount': ['mean', 'median', 'min', 'max']
})

In [52]:
sale

                 Total_Amount
                         mean    median  min       max
Product_Category
Clothing          1024.068331  708.6852  0.0  4892.085
Electronics        993.289176  688.1238  0.0  4579.855
Home & Garden     1064.779531  725.1008  0.0  4944.753
No Category        1036.10243  726.8486  0.0    4680.7

In [53]:
mk =pd.pivot_table(
    df,
    values='Quantity',
    index='Product_Category',
    columns='Shipping_State',
    aggfunc=['sum', 'min', 'max', 'mean', 'median'],
    observed=True
)

In [54]:
mk

                        sum                             min               \
Shipping_State   California   N/A New York Texas California N/A New York
Product_Category
Clothing               5048  1813     4824  5185          0   0        0
Electronics            5177  1787     5274  4842          0   0        0
Home & Garden          4901  1618     5376  5284          0   0        0
No Category            2666   909     2321  2339          0   0        0

                              max                          mean            \
Shipping_State   Texas California N/A New York Texas California       N/A
Product_Category
Clothing             0         10  10       10    10    5.08871  5.285714
Electronics          0         10  10       10    10   4.992285   5.17971
Home & Garden        0         10  10       10    10   5.186243  4.993827
No Category          0         10  10       10    10   5.166667  5.194286

                                         median
Shipping_State    New York     Texas California  N/A New York Texas
Product_Category
Clothing          5.121019  5.143849        5.0  5.0      5.0   5.0
Electronics       5.284569  5.070157        5.0  5.0      5.0   5.0
Home & Garden      5.33863  5.278721        5.0  5.0      5.0   5.0
No Category       5.157778  5.118162        5.0  5.0      5.0   5.0

In [55]:
mk['sum']['New York']

Product_Category
Clothing         4824
Electronics      5274
Home & Garden    5376
No Category      2321
Name: New York, dtype: Int64

In [56]:
df.head()

,Transaction_ID,Customer_Name,Email,Age,Join_Date,Product_Category,Price,Quantity,Discount_Percent,Total_Amount,Shipping_State,Customer_Review_Score,Is_Premium_Member
0,TXN-29779,Dave,jane@yahoo.com,30.0,2022-06-08,Clothing,124.54,4,0.98,9.9632,California,3.0,No
1,TXN-73397,Jane Smith,charlie@gmail,53.0,NaT,Electronics,357.90,8,0.09,2605.512,California,2.0,No
2,TXN-48589,Dave,jane@yahoo.com,37.0,2020-12-28,Home & Garden,419.60,5,0.16,1762.32,California,5.0,Yes
3,TXN-68816,N/A,N/A,26.0,2020-12-23,Clothing,467.99,7,0.28,2358.6696,California,2.0,No
4,TXN-90723,Alice_Jones,bob@.com,37.0,NaT,Clothing,348.68,5,0.02,1708.532,New York,5.0,Yes

In [57]:
category=df.groupby('Shipping_State').agg({'Is_Premium_Member':'count'})

In [58]:
category

                Is_Premium_Member
Shipping_State
California                   3490
N/A                          1187
New York                     3397
Texas                        3421

In [59]:
df

,Transaction_ID,Customer_Name,Email,Age,Join_Date,Product_Category,Price,Quantity,Discount_Percent,Total_Amount,Shipping_State,Customer_Review_Score,Is_Premium_Member
0,TXN-29779,Dave,jane@yahoo.com,30.0,2022-06-08,Clothing,124.54,4,0.98,9.9632,California,3.0,No
1,TXN-73397,Jane Smith,charlie@gmail,53.0,NaT,Electronics,357.90,8,0.09,2605.512,California,2.0,No
2,TXN-48589,Dave,jane@yahoo.com,37.0,2020-12-28,Home & Garden,419.60,5,0.16,1762.32,California,5.0,Yes
3,TXN-68816,N/A,N/A,26.0,2020-12-23,Clothing,467.99,7,0.28,2358.6696,California,2.0,No
4,TXN-90723,Alice_Jones,bob@.com,37.0,NaT,Clothing,348.68,5,0.02,1708.532,New York,5.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,TXN-26277,N/A,john@gmail.com,22.0,2020-12-15,Clothing,22.75,7,0.20,127.4,California,2.0,Yes
11996,TXN-82824,Jane Smith,charlie@gmail,73.0,2020-08-17,Clothing,338.86,9,0.16,2561.7816,Texas,1.0,Yes
11997,TXN-22314,Jane Smith,bob@.com,59.0,2021-10-26,Clothing,478.14,1,0.20,382.512,New York,3.0,Yes
11998,TXN-44643,John Doe,bob@.com,29.0,2021-09-24,Electronics,75.91,7,0.28,382.5864,Texas,5.0,No
11999,TXN-97760,N/A,charlie@gmail,23.0,2020-01-16,Home & Garden,0.00,10,0.22,0.0,New York,0.0,No

In [60]:
df.to_csv('C:\\Users\\Mahesh\\Downloads\\cleaned_sales_data.csv', index=False)

In [61]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11495 entries, 0 to 11999
Data columns (total 13 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Transaction_ID         11495 non-null  object
 1   Customer_Name          11495 non-null  object
 2   Email                  11495 non-null  object
 3   Age                    10928 non-null  float64
 4   Join_Date              8611 non-null   datetime64[ns]
 5   Product_Category       11495 non-null  category
 6   Price                  11495 non-null  float64
 7   Quantity               11495 non-null  Int64
 8   Discount_Percent       11495 non-null  float64
 9   Total_Amount           11495 non-null  Float64
 10  Shipping_State         11495 non-null  object
 11  Customer_Review_Score  11495 non-null  float64
 12  Is_Premium_Member      11495 non-null  object
dtypes: Float64(1), Int64(1), category(1), datetime64[ns](1), float64(4), object(5)
memory usage: 1.2+ MB

In [62]:
df

,Transaction_ID,Customer_Name,Email,Age,Join_Date,Product_Category,Price,Quantity,Discount_Percent,Total_Amount,Shipping_State,Customer_Review_Score,Is_Premium_Member
0,TXN-29779,Dave,jane@yahoo.com,30.0,2022-06-08,Clothing,124.54,4,0.98,9.9632,California,3.0,No
1,TXN-73397,Jane Smith,charlie@gmail,53.0,NaT,Electronics,357.90,8,0.09,2605.512,California,2.0,No
2,TXN-48589,Dave,jane@yahoo.com,37.0,2020-12-28,Home & Garden,419.60,5,0.16,1762.32,California,5.0,Yes
3,TXN-68816,N/A,N/A,26.0,2020-12-23,Clothing,467.99,7,0.28,2358.6696,California,2.0,No
4,TXN-90723,Alice_Jones,bob@.com,37.0,NaT,Clothing,348.68,5,0.02,1708.532,New York,5.0,Yes
...,...,...,...,...,...,...,...,...,...,...,...,...,...
11995,TXN-26277,N/A,john@gmail.com,22.0,2020-12-15,Clothing,22.75,7,0.20,127.4,California,2.0,Yes
11996,TXN-82824,Jane Smith,charlie@gmail,73.0,2020-08-17,Clothing,338.86,9,0.16,2561.7816,Texas,1.0,Yes
11997,TXN-22314,Jane Smith,bob@.com,59.0,2021-10-26,Clothing,478.14,1,0.20,382.512,New York,3.0,Yes
11998,TXN-44643,John Doe,bob@.com,29.0,2021-09-24,Electronics,75.91,7,0.28,382.5864,Texas,5.0,No
11999,TXN-97760,N/A,charlie@gmail,23.0,2020-01-16,Home & Garden,0.00,10,0.22,0.0,New York,0.0,No

In [63]:
df['Age'] = df['Age'].replace({'-': '', 'twenty': '20'}, regex=True)
df['Age'] = pd.to_numeric(df['Age'], errors='coerce')